.about-container {
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 6%;
  }
  
  .about-content {
    text-align: left;
    color: black;
  }
  
  .food-image {
    align-items: right;
    width: 30%; 
    height: auto;
  }