.intro-container {
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: #495e57;;
  }
  
  .intro-content {
    text-align: left;
  }
  
  .food-image {
    align-items: right;
    width: 300px; 
    height: auto;
  }
  
  