.reservation-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .reservation-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    background-color: #495e57;
  }
  
  label,
  input,
  button {
    display: block;
    margin-bottom: 10px;
    background-color: yellow;
  }
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 18px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }