/* testimonial.css */
.testimonial-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.card {
  flex: 1; /* Allow the cards to grow to fill the available space */
  max-width: 300px; /* Limit the maximum width of the card for larger screens */
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
}

.customer-image {
  width: 100%;
  height: auto; /* Preserve the aspect ratio of the image */
  object-fit: cover;
  border-radius: 8px;
}

.customer-review {
  margin-top: 10px;
  color: black;
  font-style: italic;
}

.test-container {
  padding: 7%;
  background-color: #495e57;
}

.heading {
  color: yellow;
  text-align: center; /* Center the heading on the page */
  padding-bottom: 5%;
}

/* Media Query for Mobile Devices */
@media screen and (max-width: 768px) {
  .testimonial-container {
    flex-direction: column; /* Stack cards vertically on mobile devices */
    align-items: center; /* Center cards horizontally on mobile devices */
  }

  .card {
    max-width: 100%; /* Allow the cards to take the full width on mobile devices */
    margin-bottom: 20px; /* Add spacing between cards in mobile view */
  }
}
